{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
  <h1 class="text-center mt-4">Cadastro de Clientes</h1>
  <form action="{% url 'listagem_usuarios' %}" method="post" class="mt-5">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nome" class="form-label">Nome Completo </label>
      <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" name="senha" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail(login)</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone</label>
      <input type="tel" class="form-control" id="telefone" name="telefone" required>
    </div>
    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="endereco" name="endereco" required>
    </div>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enviar</button>

  </form>
</div>
{% endblock %}
