{% extends 'usuarios/base.html' %}
{% block conteudo %}
{% load static %}
<div class="container">
  <h1 class="text-center mt-4">Carrinho de Compras</h1>
  <div class="row mt-5">
    <div class="col-md-8">
      <h4>Pizzas</h4>
      <div class="item item-pizza">
        <h2>Pizza Margherita</h2>
        <p>Deliciosa pizza com molho de tomate, queijo mozarela e manjericão fresco.</p>
        <img src="{% static 'margherita.jpg' %}" alt="Pizza Margherita" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Margherita</div>
          <div class="item-price">R$ 20</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Margherita" data-price="20">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Margherita">Remover do Carrinho</button>
        </div>
      </div>
      <div class="item item-pizza">
        <h2>Pizza Pepperoni</h2>
        <p>Irresistível pizza com molho de tomate, queijo mozarela e pepperoni fatiado.</p>
        <img src="{% static 'pepperoni.jpg' %}" alt="Pizza Pepperoni" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Pepperoni</div>
          <div class="item-price">R$ 25</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Pepperoni" data-price="25">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Pepperoni">Remover do Carrinho</button>
        </div>
      </div>
      <div class="item item-pizza">
        <h2>Pizza Calabresa</h2>
        <p>Deliciosa pizza com molho de tomate, queijo mozarela e calabresa fatiada.</p>
        <img src="{% static 'calabresa.jpg' %}" alt="Pizza Calabresa" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Calabresa</div>
          <div class="item-price">R$ 30</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Calabresa" data-price="30">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Calabresa">Remover do Carrinho</button>
        </div>
      </div>
      <div class="item item-pizza">
        <h2>Pizza Quatro Queijos</h2>
        <p>Deliciosa pizza com molho de tomate, queijo mozarela, queijo cheddar, queijo gorgonzola e queijo parmesão.</p>
        <img src="{% static 'quatro_queijos.jpg' %}" alt="Pizza Quatro Queijos" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Quatro Queijos</div>
          <div class="item-price">R$ 35</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Quatro Queijos" data-price="35">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Quatro Queijos">Remover do Carrinho</button>
        </div>
      </div>
      
      <h4 class="mt-5">Bebidas</h4>
      <div class="item item-bebida">
        <h2>Refrigerante Coca-Cola</h2>
        <p>Refrigerante Coca-Cola gelado.</p>
        <img src="{% static 'cocacola.jpg' %}" alt="Refrigerante Coca-Cola" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Refrigerante Coca-Cola</div>
          <div class="item-price">R$ 5</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Refrigerante Coca-Cola" data-price="5">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Refrigerante Coca-Cola">Remover do Carrinho</button>
        </div>
      </div>
      <div class="item item-bebida">
        <h2>Suco de Laranja</h2>
        <p>Suco de laranja natural.</p>
        <img src="{% static 'laranja.jpg' %}" alt="Suco de Laranja" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Suco de Laranja</div>
          <div class="item-price">R$ 10</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Suco de Laranja" data-price="10">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Suco de Laranja">Remover do Carrinho</button>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <h4>Resumo do Pedido</h4>
      <div id="resumo-pedido">
        <!-- Aqui é onde os itens do carrinho e o total atualizado em tempo real aparecerão -->
      </div>
      <button id="finalizar-pedido" class="btn btn-success mt-3">Finalizar Pedido</button>
      <button id="cancelar-pedido" class="btn btn-secondary mt-3">Cancelar Pedido</button>
      <div id="mensagem"></div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  var carrinho = [];

  function atualizarCarrinho() {
    var total = 0;
    var resumoPedido = $('#resumo-pedido');
    resumoPedido.html('');

    for(var i = 0; i < carrinho.length; i++) {
      total += carrinho[i].price;
      resumoPedido.append('<p>' + carrinho[i].product + ' - R$ ' + carrinho[i].price + '</p>');
    }

    resumoPedido.append('<p>Total: R$ ' + total + '</p>');
  }

  $('.add-to-cart').click(function() {
    var product = $(this).data('product');
    var price = $(this).data('price');
    carrinho.push({ product: product, price: price });

    atualizarCarrinho();
  });

  $('.remove-from-cart').click(function() {
    var product = $(this).data('product');
    carrinho = carrinho.filter(function(item) {
      return item.product !== product;
    });

    atualizarCarrinho();
  });

  $('#finalizar-pedido').click(function() {
    $('#mensagem').html('<p class="text-success">Pedido finalizado com sucesso!</p>');
    alert("Pedido finalizado com sucesso!");
  });

  $('#cancelar-pedido').click(function() {
    carrinho = [];
    atualizarCarrinho();
    $('#mensagem').html('<p class="text-danger">Pedido cancelado.</p>');
  });
});
</script>
{% endblock %}
