

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    body {
      background: #F6F6F6;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overflow-x: hidden;
    }

    main {
      flex: 1;
      overflow-y: auto;
    }

    footer {
      position: sticky;
      bottom: 0;
      width: 100%;
      min-height: 400px;
      background-color: #A20000;
      color: #FFFFFF;
    }
  </style>

  <title>PizzaLoka</title>
</head>

<body>
  <!-- As a heading -->
  <nav class="navbar navbar-light" style="background-color: #A20000;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <a style="text-decoration: none; color: black;" href="{% url 'home' %}">Home</a> |
        <a style="text-decoration: none; color: black;" href="{% url 'cadastro' %}">Cadastrar</a> |
        <a id="login-link" style="text-decoration: none; color: black;" href="{% url 'cardapio' %}">Logout</a>
      </span>
    </div>
  </nav>

  <main class="mb-4">
    {% block conteudo %} {% endblock %}
  </main>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


<style>
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.item {
  width: 300px;
  margin-bottom: 50px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 5px;
}

.item h3 {
  margin-top: 0;
}

.item p {
  margin-bottom: 10px;
}

.item img {
  display: block;
  margin-bottom: 10px;
}

.item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-buttons {
  display: flex;
  justify-content: space-between;
}

#resumo-pedido {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

#finalizar-pedido,
#cancelar-pedido {
  margin-top: 10px;
}




</style>

<div class="container">
  
  <h1 class="text-center mt-4">Carrinho de Compras</h1>
  <div class="row mt-5">

    <div class="col-md-3">
      <h2>Pizzas</h2>      
      <div class="item">
        <h3>Pizza Margherita</h3>
        <p>Deliciosa pizza com molho de tomate, queijo mozarela e manjericão fresco.</p>
        <img src="{% static 'margherita.jpg' %}" alt="Pizza Margherita" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Margherita</div>
          <div class="item-price">R$ 20</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Margherita" data-price="20">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Margherita">Remover do Carrinho</button>
        </div>
      </div>
      <div class="item">
        <h3>Pizza Vegetariana</h3>
        <p>Pizza saudável e saborosa com uma variedade de vegetais frescos.</p>
        <img src="{% static 'vegetariana.jpg' %}" alt="Pizza Vegetariana" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Vegetariana</div>
          <div class="item-price">R$ 18</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Vegetariana" data-price="18">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Vegetariana">Remover do Carrinho</button>
        </div>
      </div>

      <div class="item">
        <h3>Pizza Portuguesa</h3>
        <p>Pizza tradicional portuguesa com mussarela, presunto, cebola, ovo e azeitonas..</p>
        <img src="{% static 'portuguesa.jpg' %}" alt="Pizza Portuguesa" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Portuguesa</div>
          <div class="item-price">R$ 25</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Portuguesa" data-price="25">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Portuguesa">Remover do Carrinho</button>
        </div>
      </div>
      <div class="item">
        <h3>Pizza Calabresa</h3>
        <p>Deliciosa pizza com molho de tomate, queijo mozarela e calabresa fatiada.</p>
        <img src="{% static 'calabresa.jpg' %}" alt="Pizza Calabresa" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Calabresa</div>
          <div class="item-price">R$ 30</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Calabresa" data-price="30">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Calabresa">Remover do Carrinho</button>
        </div>
      </div>
      <div class="item">
        <h3>Pizza Quatro Queijos</h3>
        <p>Deliciosa pizza com molho de tomate, queijo mozarela, queijo cheddar, queijo gorgonzola e queijo parmesão.</p>
        <img src="{% static '4queijos.jpg' %}" alt="Pizza Quatro Queijos" height="150px" width="200px">
        <div class="item-description">
          <div class="item-name">Pizza Quatro Queijos</div>
          <div class="item-price">R$ 35</div>
        </div>
        <div class="item-buttons">
          <button class="btn btn-primary add-to-cart" data-product="Pizza Quatro Queijos" data-price="35">Adicionar ao Carrinho</button>
          <button class="btn btn-danger remove-from-cart" data-product="Pizza Quatro Queijos">Remover do Carrinho</button>
        </div>
      </div>
    </div>


       <div class="col-md-3">

        <h2 class="mt-5">Bebidas</h2>
        <div class="item item-bebida">
          <h3>Refrigerante 350ml</h3>
          <p>Refrigerante 350ml gelado.</p>
          <img src="{% static 'coca_lata.png' %}" alt="Refrigerante 350ml" height="150px" width="200px">
          <div class="item-description">
            <div class="item-name">Refrigerante 350ml</div>
            <div class="item-price">R$ 5</div>
          </div>
          <div class="item-buttons">
            <button class="btn btn-primary add-to-cart" data-product="Refrigerante 350ml" data-price="5">Adicionar ao Carrinho</button>
            <button class="btn btn-danger remove-from-cart" data-product="Refrigerante 350ml">Remover do Carrinho</button>
          </div>
        </div>
        <div class="item item-bebida">
          <h3>Refrigerante 2L</h3>
          <p>Refrigerante 2L gelado.</p>
          <img src="{% static 'coca2l.png' %}" alt="Refrigerante 2L" height="150px" width="200px">
          <div class="item-description">
            <div class="item-name">Refrigerante 2L</div>
            <div class="item-price">R$ 12</div>
          </div>
          <div class="item-buttons">
            <button class="btn btn-primary add-to-cart" data-product="Refrigerante 2L" data-price="12">Adicionar ao Carrinho</button>
            <button class="btn btn-danger remove-from-cart" data-product="Refrigerante 2L">Remover do Carrinho</button>
          </div>
        </div>
        <div class="item item-bebida">
          <h3>Suco de Laranja</h3>
          <p>Suco de laranja natural.</p>
          <img src="{% static 'laranja.png' %}" alt="Suco de Laranja" height="150px" width="200px">
          <div class="item-description">
            <div class="item-name">Suco de Laranja</div>
            <div class="item-price">R$ 10</div>
          </div>
          <div class="item-buttons">
            <button class="btn btn-primary add-to-cart" data-product="Suco de Laranja" data-price="10">Adicionar ao Carrinho</button>
            <button class="btn btn-danger remove-from-cart" data-product="Suco de Laranja">Remover do Carrinho</button>
          </div>
        </div>
        <div class="item item-bebida">
          <h3>Suco de Uva</h3>
          <p>Suco de Uva natural.</p>
          <img src="{% static 'uva.png' %}" alt="Suco de Uva" height="150px" width="200px">
          <div class="item-description">
            <div class="item-name">Suco de Uva</div>
            <div class="item-price">R$ 10</div>
          </div>
          <div class="item-buttons">
            <button class="btn btn-primary add-to-cart" data-product="Suco de Uva" data-price="10">Adicionar ao Carrinho</button>
            <button class="btn btn-danger remove-from-cart" data-product="Suco de Uva">Remover do Carrinho</button>
          </div>
        </div>
    </div>

    <div class="col-md-3">
      <h2 class="mt-5">Combos</h2>
        <div class="item combo">
          <h3>Combo1:</h3>
          <p>Pizza Frango com Catupiry + 2 Refri. 350ml</p>
          <img src="{% static 'combo1.jpg' %}" alt="Combo1" height="150px" width="200px">
          <div class="item-description">
            <div class="item-name">Pizza Frango com Catupiry  + 2 Refri. 350ml</div>
            <div class="item-price">R$ 32</div>
          </div>
          <div class="item-buttons">
            <button class="btn btn-primary add-to-cart" data-product="Combo1" data-price="32">Adicionar ao Carrinho</button>
            <button class="btn btn-danger remove-from-cart" data-product="Combo1">Remover do Carrinho</button>
          </div>
        </div>
        <div class="item combo">
          <h3>Combo2</h3>
          <p>2 Pizzas + 2 Refri 2L </p>
          <img src="{% static 'combo2.jpg' %}" alt="Combo2" height="150px" width="200px">
          <div class="item-description">
            <div class="item-name">2 Pizzas + 2 Refri 2L</div>
            <div class="item-price">R$ 55</div>
          </div>
          <div class="item-buttons">
            <button class="btn btn-primary add-to-cart" data-product="Combo2" data-price="55">Adicionar ao Carrinho</button>
            <button class="btn btn-danger remove-from-cart" data-product="Combo2">Remover do Carrinho</button>
          </div>
        </div>
      </div>
  
    
    <div class="col-md-3">
      <h4>Resumo do Pedido</h4>
      <div id="resumo-pedido">
        <!-- Aqui é onde os itens do carrinho e o total atualizado em tempo real aparecerão -->
      </div>
      <button id="finalizar-pedido" class="btn btn-success mt-3">Finalizar Pedido</button>
      <button id="cancelar-pedido" class="btn btn-secondary mt-3">Cancelar Pedido</button>
      <div id="mensagem"></div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  var carrinho = [];

  function atualizarCarrinho() {
    var total = 0;
    var resumoPedido = $('#resumo-pedido');
    resumoPedido.html('');

    for(var i = 0; i < carrinho.length; i++) {
      total += carrinho[i].price;      
      resumoPedido.append('<p>' + carrinho[i].product + ' - R$ ' + carrinho[i].price + '</p>');
    }

    resumoPedido.append('<p>Total: R$ ' + total + '</p>');
  }

  $('.add-to-cart').click(function() {
    var product = $(this).data('product');
    var price = $(this).data('price');
    carrinho.push({ product: product, price: price });

    atualizarCarrinho();
  });

  $('.remove-from-cart').click(function() {
    var product = $(this).data('product');
    carrinho = carrinho.filter(function(item) {
      return item.product !== product;
    });

    atualizarCarrinho();
  });

  $('#finalizar-pedido').click(function() {
    $('#mensagem').html('<p class="text-success">Pedido finalizado com sucesso!</p>');
    alert("Pedido finalizado com sucesso!");
  });

  $('#cancelar-pedido').click(function() {
    carrinho = [];
    atualizarCarrinho();
    $('#mensagem').html('<p class="text-danger">Pedido cancelado.</p>');
  });
});

 
</script>


<footer class="text-center text-lg-start text-muted" style="background-color: #A20000; height: 250px;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Trabalho Eng. de Software. Curso Engenharia de Computação, CEFET-MG:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fatwitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>PizzaLoka
          </h6>
          <p>
            Autores: 
            <br>
            Emilio Canton | 20203000843
            <br>
            Müller Penaforte Fernandes | 20183007180
            <br> 
            Yuri Barbosa | 20203000807
            <br>            
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Django</a>
          </p>
          <p>
            <a href="#!" class="text-reset">JavaScript</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bootstrap</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="https://www.cefetmg.br/" class="text-reset">CEFET-MG</a>
          </p>
          <p>
            <a href="https://stackoverflow.com/" class="text-reset">Stackoverflow</a>
          </p>
          <p>
            <a href="github.com" class="text-reset">Github</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>  <a href="https://github.com/EmilioCanton/" class="text-reset">https://github.com/EmilioCanton/</a>
            </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="https://github.com/MullerPenaforte/" class="text-reset">https://github.com/MullerPenaforte/</a>
            
          </p>
          <p><i class="fas fa-phone me-3"></i> <a href="https://github.com/yuri10101042" class="text-reset">https://github.com/yuri10101042</a> </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/" style="color: #FFFFFF;">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
</body>

</html>
