{% extends 'usuarios/base.html' %}

{% block conteudo %}

<style>
    .home {
        background-image: url('/app_cad_usuarios/assets/home.png');
        background-size: cover;
        background-position: center;
    }
</style>

<div class="container mt-5 home">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1></h1>
                <p>Descubra nossas deliciosas pizzas e faça seu pedido agora!</p>
            </div>
            <div class="text-center">
                <a href="{% url 'cardapio' %}" class="btn btn-primary" onclick=finalizar(event)>Confirmar pedido.</a>
            </div>
            <script>
                function finalizar(event) {
                    
                        alert("Pedido realizado com sucesso!!!");
                        event.preventDefault();                   
                }
            </script>
        </div>
    </div>
</div>

{% endblock %}